<%= simple_form_for [@company, @job] do |f| %>
  <%= f.error_notification %>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :company_id, collection: Company.all, label: "Company", value: :id%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :title %></div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :description, as: :text, placeholder: "The short description about the job. e.g. 'Looking for a talented full-stack developer to build a learning platform from scratch'", input_html: { max: 999, class: "textbox medium" } %></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :location, as: :country, label: "Job Location" %></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :jobtype, collection: ["Internship", "Contractor", "Maternity cover", "Part-time", "Full-time"], label: "Job Type" %></div>
    </div>
    <%= f.input :category_ids, as: :check_boxes, collection: Category.all, label: "Categories", value: :id %>
    <%= f.input :req_ids, as: :check_boxes, collection: Req.all, label: "Skills required", value: :id %>
    <label> Salary range</label>
    <br>
    <div class="row">
      <div class="col-md-3">
          <%= f.input :salarymin, as: :integer, label: "From: " %>
      </div>
    </div>
      <div class="row">
        <div class="col-md-3">
          <%= f.input :salarymax, as: :integer, label: "To: " %>
        </div>
      </div>
      <br>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :requirements, as: :text, placeholder: "The experience and skills required for the job", input_html: {class: "textbox medium"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :link, label: "Link to application page" %></div>
    </div>
    <%= f.submit %>
<% end %>
