<%= form_for @job, url: company_job_path(@job.company_id, @job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.collection_select(:company_id, Company.all, :id, :name) %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>

    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :salary_range %>
    <%= f.number_field :salary %>
    <br>
    <%= f.label :requirements %>
    <%= f.text_field :requirements %>
    <br>
    <%= f.label :application_url %>
    <%= f.text_field :link %>
    <br>
    <%= f.submit %>

<% end %>
