<div class="plate jobpage">
	<h1 class = "center">
		<%= image_tag(@job.company.logo.square) %> <br> <br>
		<%=@job.title %> at <%= @job.company.name %> <br><small><%= @job.country_name%>, <%= @job.jobtype %></small>
	</h1>
	<div class="row">
		<div class="col-md-8">
			<h2>The mission:</h2>
			<p><%= @job.company.mission %> </p>
			<h2>Description:</h2>
			<p><%= @job.description %></p>
			<br>
			<h2>Job requirements:</h2>
			<p><%= @job.requirements %></p>
		</div>
		<div class="col-md-4">
			<h4>Location <br>
				<small><%= @job.country_name %></small></h4>
			<h4>Salary <br>
			<small><%= number_to_human(@job.salarymin, precision: 2,
										separator: '.',
										significant: true, units: { thousand: "k"}) %> to
						<%= number_to_human(@job.salarymax, precision: 2,
													separator: '.',
													significant: true, units: { thousand: "k"}) %></small></h4>
			<h4>Skills<br>
			<small>
				<% @job.reqs.each do |r| %>
					<%= r.name %> <%= "," unless r == @job.reqs.last %>
				<% end %>
			</small></h4>
			<h4>Job type<br>
			<small><%= @job.jobtype %> </small></h4>
			<%= link_to 'Edit job', edit_company_job_path(@job.company_id, @job) %> |
			<%= link_to "Back to #{@job.company.name} page", company_path(@job.company_id) %>
		</div>
	</div>
	<br>
	<div class="row center apply-button-wrapper">
		<% if current_user.applied?(@job) %>
			<%= render "applications/applied" %>
		<% else %>
			<%= render "applications/apply"%>
		<% end %>
	</div>
	<hr>

	<div class="row">
		<h2 class = "center">Other vacancies at <%= @job.company.name %></h2>
		<%= render "shared/jobtable", company: @job.company %>
	</div>
</div>
