<%= render 'layouts/searchbar'%>
<h1> All <%= @industry.name %> Companies</h1>

<% @companies.each do |c| %>
    <div class="media plate">
        <div class="media-left">
            <div class="media-object">
                <%= image_tag(c.logo.thumb) if c.logo?%>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <h4><strong><%= link_to "#{c.name}", company_path(c)%></strong></h4>
            </div>
            <p><em><%= c.mission%></em></p>
            <div class="details">
                <p>Short description: <%= c.description %></p>
                <p>Industry: 
                    <% c.industries.each do |i| %>
                        <button class="tag"><%= link_to "#{i.name}", industry_path(i) %></button>
                    <% end %>
                </p>
                <p>Vacancies: <%= c.jobs.count %></p>
            </div>
            <% if user_signed_in? && current_user.role == "admin" %>
                 <p><%= link_to "Edit '#{c.name}'", edit_company_path(c) %> |
                 <%= link_to "Delete '#{c.name}'", c, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
        </div>
    </div>
<% end %>