<%= simple_form_for @company, html: { multipart: true } do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :name %>
    <%= f.input :mission %>
    <%= f.input :url %>
    <%= f.input :description %>
    <%= f.input :industry_ids, as: :check_boxes, collection: Industry.all, label: "Industries", value: :id %>
    <%= f.input :location, as: :country, label: "HQ location" %>
    <%= f.input :employees, collection: ["1-10", "11-50", "51-200", "200+"] %> 
    <%= f.input :logo %>
    <%= f.submit %>
<% end %>
