<%= form_for @company, html: { multipart: true } do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :mission %>
    <%= f.text_field :mission %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :industry %>
    <%= f.collection_select(:industry_ids, Industry.all, :id, :name) %>
    <br>
    <%= f.label :logo %>
    <%= f.file_field :logo %>
    <p>To do: add image upload</p>
    <%= f.submit %>
<% end %>
