<h3>Mass upload / edit (.csv)</h3>
<%= form_tag import_companies_path, multipart: true, method: :post, action: :import do %>
  <%= file_field_tag :file %>
  <br>
  <%= submit_tag :import%>
<% end %>

<%= simple_form_for @company, html: { multipart: true } do |f| %>
<%= f.error_notification %>
    <br>
    <%= f.input :name %>
    <%= f.input :mission %>
    <%= f.input :url %>
    <%= f.input :description %>
    <%= f.input :industry_ids, as: :check_boxes, collection: Industry.all, label: "Industries", value: :id %>
    <%= f.input :location, as: :country, label: "HQ location" %>
    <%= f.input :employees, collection: ["1-10", "11-50", "51-200", "200+"] %>
    <%= f.input :logo %>
    <%= f.submit %>
<% end %>
