<% @companies.each do |company| %>
    <div class="media">
        <div class="media-left">
                <div class="media-object">
                    <%= image_tag(company.logo.thumb) if company.logo?%>
                </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <h4><%= company.name %></h4>
            </div>
            
            <p>Mission: <%= company.mission %></p>
            <p>Short description:<%= company.description %></p>
            <p>Industry: 
                <% company.industries.each do |i| %>
                    <%= link_to "#{i.name}", industry_path(i), class: "btn btn-sm btn-success" %>
                <% end %>
            </p>
            <% if user_signed_in? && current_user.role == "admin" %>
                 <p><%= link_to "Edit '#{company.name}'", edit_company_path(company) %> |
                 <%= link_to "Delete '#{company.name}'", company, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
        </div>


    </div>
    
    
    <hr>
<% end %>
