<p id="notice"><%= notice %></p>
<%= @company.name %> <br>
Add company logo <br>
<%= @company.mission %> <br>
<%= @company.description %> <br>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
