<div class="plate company-page">

	<div class="container jumbotron">
		<div class="logo">
			<%= image_tag(@company.logo.square) if @company.logo?%>
		</div>
		<h1><%= @company.name %></h1>
		<p>Mission: <%= @company.mission %></p>
	</div>
	<div class="row">
		<div class="col-md-8 philosophy">

			<h2>About us</h2>
				<p><%= @company.description %></p>
			<br>
			<h2>What we're making</h2>
				<p><%= @company.making %></p>
		</div>
		<div class="col-md-4">
			<h4>Industry:</h4>
			<p><% @company.industries.each do |i| %>
	                <li class = "nodec tag inline"><%= link_to "#{i.name}", industry_path(i)%></li>
	            <% end %>
	        </p>
			<h4>Headquarters:</h4>
			<p><%= @company.country_name %></p>
			<h4>Employees:</h4>
			<p><%= @company.employees %></p>
			<h4>Website:</h4>
			<p><%= link_to "#{@company.url}", @company.url %></p>
			<% if user_signed_in? %>
				<div id="follow_form">
					<% if current_user.following?(@company) %>
						<%= render 'interests/unfollow' %>
					<% else %>
						<%= render 'interests/follow' %>
					<% end %>
				</div>
				<br>
					<%= link_to "Claim #{@company.name}", company_claim_path(@company), method: :post if @company.users.exclude?(current_user) %>
					<%= link_to "Edit #{@company.name}", edit_company_path(@company) if @company.users.include?(current_user) || current_user.role == "admin" %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	    <h2>Vacancies:</h2>
	      <% if (@company.jobs.count == 0) %>
	        <p>No vacancies at this time. Please check <%= @company.name %> link (ADD LINK HERE) for more details</p>
	      <% else %>
					<%= render "shared/jobtable", company: @company %>
				<% end %>
		</div>
	</div>
	<% if (user_signed_in? && current_user.role == "admin") || @company.users.include?(current_user) %>
		<%= link_to "Add a new job", new_company_job_path(@company) %> |
	<% end %>
</div>
