<h1>All <%= @category.name %> jobs</h1>

<% @jobs.each do |j| %>
    <div class="media plate">
        <div class="media-left">
            <div class="media-object">
                <%= image_tag(j.company.logo.thumb) if j.company.logo?%>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <h4><strong><%= link_to "#{j.title} at #{j.company.name}", company_path(j.company)%></strong></h4>
            </div>
            <p><em><%= j.company.mission%></em></p>
            <div class="details">
                <p>Short description: <%= j.company.description %></p>
                <p>Industry: 
                    <% j.company.industries.each do |i| %>
                        <button class="tag"><%= link_to "#{i.name}", industry_path(i) %></button>
                    <% end %>
                </p>
                <p>Vacancies: <%= j.company.jobs.count %></p>
            </div>
            <% if user_signed_in? && current_user.role == "admin" %>
                 <p><%= link_to "Edit '#{j.company.name}'", edit_company_path(j.company) %> |
                 <%= link_to "Delete '#{j.company.name}'", j.company, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
        </div>
    </div>
<% end %>