<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid wrapper">
		<% if notice %>
			<div class="notice-wrapper">
				<p class="notice"><%= notice %></p>
			</div>	
		<% elsif alert %>
			<div class="notice-wrapper error">
				<p class="alert"><%= alert %></p>
			</div>
		<% end %>
		<%= render 'layouts/navigation' %>
			<div class="container nav-clear">
				<div class="row">
					<div class="col-md-3 sidebar">
						<%= render 'layouts/profilelinks' if user_signed_in? %>
						<%= render 'layouts/shortcuts' %>
					</div>
					
					<div class="col-md-9">
						<%= yield %>
					</div>
				</div>
			</div>
		<%= render 'layouts/footer'	%>
	</div>
</body>
</html>
