<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid wrapper">
		<%= render 'layouts/navigation' %>
        <%= yield %>
	</div>
</body>
<%= render 'layouts/footer'	%>
</html>
